body{
    margin: 0;
    padding: 0;
}


#header{
    background-color: #8b0000;
    color: white;
}

#header h1{
    margin: 0;
    padding: 20px;
    text-align: center;
}

#products{
    width: 50%;
    height: auto;

}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /*margin: 20px;*/
}

.product{
    flex: 0 0 48%;
    padding: 20px;
    border-color: black;
    border-radius: 10px;
    border-style: dashed;
    width: 40%;
}